.footer {
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: black;
  display: flex;
  position: absolute;
  left: 8.88%;
  right: 13.05%;
  top: 94.63%;
  bottom: 3.22%;
}
